body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #e0e0ff;
}

header {
  background: #02040a;
  padding: 15px 0;
  border-bottom: 2px solid #00aaff;
  box-shadow: 0 0 12px #0077ff;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 60px;
  filter: drop-shadow(0 0 8px #00aaff);
}

nav a {
  color: #a8cfff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 14px;
  border: 2px solid #00aaff;
  border-radius: 6px;
  transition: 0.3s;
  box-shadow: 0 0 8px #0099ff;
}

nav a:hover,
nav a.active {
  background: #0099ff;
  color: #000;
  box-shadow: 0 0 18px #33bbff;
}

.hero {
  padding: 120px 20px;
  text-align: center;
}

.hero h1 span {
  color: #00aaff;
  text-shadow: 0 0 12px #00aaff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: #0099ff;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0 0 18px #00aaff;
}

.content {
  padding: 60px 20px;
}

.service-list li {
  margin-bottom: 12px;
  font-size: 20px;
  color: #a8cfff;
}
